*{
    margin:0; padding: 0; box-sizing:border-box;
}

header{
    background-color: #CCFFCC;
}
h1{
    text-align: center;
    font-size: 45px;
}


#box1{
    background-color: #ccc8c8;
}
#box1 ul{
    display: flex;
    justify-content: center;
}
#box1 li{
    margin:5px; padding-right:50px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}
#box1 a{
    text-decoration:none;
    color:green;
}
#box1 a:hover{
    color:palevioletred;
}


#img-div{
    background:linear-gradient(white, rgb(202, 198, 198));
    background-repeat: no-repeat;
    background-size: cover ;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#img-div img{
    margin-top: 7px;
    max-width:50%; 
    border-radius:5px;
    border:2px solid rgb(156, 156, 156);
    box-shadow: 5px -4px  #ccc8c8, 7px -6px  rgb(110, 110, 110);
}
#cover{
    display: flex;
    justify-content: center;
    position: relative;
} 
 #cover::after{
    content:'';
    background: linear-gradient(23deg,#7f7fd5, #86a8e7, #91eae4);
    width:50%;
    height: 100%;
    position:absolute;
    opacity: 0;
    animation: animate 5s linear;
}
@keyframes animate{
    0%{opacity: 0.8;}
    40%{opacity: 0.6;}
    70%{opacity: 0.3;}
    100%{opacity: 0.1;}
}


article{
    padding: 8px; 
    background-image: url(image/Webpage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
article h2{
    color:rgba(211, 105, 5, 0.959);
}
article p{
    text-align:justify;
    text-align-last: center;
    font-size: 1.2em;
    text-indent:30px;
}


#box2{
    border:2px solid indigo;
    background:linear-gradient(30deg, white, rgb(202, 198, 198));
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 10px;
}
#box2 h2{
    color:rgba(211, 105, 5, 0.959);
}
#box3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
#box3 h3{
    border:1px solid indianred;
    color:indigo;
    background: linear-gradient(to left, rgb(226, 173, 222), rgb(250, 148, 236));
}
section{
    border:2px solid indigo;
    background-color: burlywood;
    margin-bottom: 20px;
}
section ul{
    list-style-position: inside;
    padding:10px;
}
section li{
    padding-bottom:10px;
}
section a{
    text-decoration: none;
    color:rgb(51, 9, 240);
}


nav{
    background:linear-gradient(35deg, rgb(153, 185, 243), rgb(159, 172, 197), rgb(153, 185, 243));
    padding: 10px;
}
nav h3{
    color:indigo;
}
nav ul{
    display: flex;
    list-style:none;
    justify-content: space-between;
    margin-top:3px;
}
nav a{
    color:purple;
}


